<div style="text-align:center"><h4>Chapter Title Goes Here</h4></div>

<div *ngFor="let chunk of chapter.chunks" class="content-section implementation">
  <mw-chapter-chunk [chunk]="chunk" [showJp]="showJp" [showTn]="showTn"></mw-chapter-chunk>
</div>

<div class="content-section p-grid">
  <p-button
      icon="fa fa-comment"
      label="{{ getShowHideTnLabel() }}"
      [ngStyle]=""
      (click)="showTn = !showTn"></p-button>
  <p-button
      icon="fa fa-book"
      label="{{ getShowHideJpLabel() }}"
      [ngStyle]=""
      (click)="showJp = !showJp"></p-button>
</div>

<div class="" style="text-align:center">
  <a href="thing">Previous Chapter</a> | <a href="thing">Table of Contents</a> | <a href="thing">Next Chapter</a>
</div>
