<p>
  chapter works!
</p>

<div class="content-section implementation">
  <h3>Dynamic</h3>
  <button pButton type="button" icon="pi pi-plus" title="Add Column" (click)="addColumn()" [disabled]="columns.length === 20"
    style="margin-right: .5em"></button>
  <button pButton type="button" icon="pi pi-minus" title="Remove Column" (click)="removeColumn()" [disabled]="columns.length === 1"></button>

  <div class="p-grid" style="margin-top: .5em; display:flex">
    <div class="p-col" style="flex-grow:1" *ngFor="let col of columns; let i=index" [@animation]="'visible'">
      <div class="box">{{i + 1}}</div>
    </div>
  </div>
</div>