<div style="text-align:center">Chapter Title Goes Here</div>

<div class="content-section implementation">
  <div class="p-grid">
    <div class="p-col">
      <div class="box">Translation</div>
    </div>
    <div class="p-col" [@animation]="'visible'" [hidden]="!showTn">
      <div class="box">Translator's Notes</div>
    </div>
    <div class="p-col" [@animation]="'visible'" [hidden]="!showJp">
      <div class="box">Original Japanese Text</div>
    </div>
    <button pButton type="button" icon="pi pi-plus" title="Show/Hide Jp" (click)="toggleJp()"></button>
    <button pButton type="button" icon="pi pi-minus" title="Show/Hide Tn" (click)="toggleTn()"></button>
    </div>
</div>

<div class="" style="text-align:center">
  <a href="thing">Previous Chapter</a> | <a href="thing">Table of Contents</a> | <a href="thing">Next Chapter</a>
</div>