/* You can add global styles to this file, and also import other style files */

.box,
.sample-layout > div {
    background-color: #cce4f7;
    text-align: left;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: inherit;
    border-radius: 4px;
}

.box-stretched {
    height: 100%;
}

.sample-layout {
    margin: 0;
}

.sample-layout > div {
    border: 1px solid #ffffff;
}

.vertical-container {
    margin: 0;
    height: 200px;
    background: #efefef;
    border-radius: 4px;
}

.nested-grid .p-col-4 {
    padding-bottom: 1em;
}

.p-grid {
    display: flex;
    margin-top: .5em;
}

.p-col {
    flex-grow: 1;
}

.button {
    margin-right: .5em;
}

.float{
	position:fixed;
	width:140px;
	height:60px;
	bottom:40px;
	right:0px;
	text-align:right;
}